/*
**Created by Ezra Billings and Kieran Larrabee
*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: orange;
    color: black; 
    padding: 0 20px;
    display: flex;
}

.header h1 {
    margin: 0;
    font-size: 20px;
    flex-grow: 1;
}

.navigation a {
    color: black;
    margin-left: 15px;
    padding: 6px 10px
}

.navigation a:hover {
    background-color: green;
}

.content {
    margin-top: 70px;
    padding: 20px;
}
